$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;
$space-xxl: 6rem;

$font-xl: 12rem;
$item-size: calc(182.4px - var($space-xs));

$c-white: #fff;
$c-white-1: #fafafa;
$c-dark: #020202;
$c-dark-1: #040404;
$c-dark-2: #101010;


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: "Source Sans Pro", system-ui, sans-serif;
  overscroll-behavior: none;
  background-image: linear-gradient(to left, $c-dark-1, $c-dark-2);
  overflow: hidden;
}

.heading {
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .heading-text {
    color: $c-white-1;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 12px;
  }

  & > svg {
    fill: $c-white-1;
    width: 35px;
    height: 35px;
    animation-name: bounce;
    animation-timing-function: ease;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.main{
  display: grid;
  grid-template-columns: auto;
  height: 100vh;
  overflow: hidden;
  padding: $space-sm;
}


// will be added from JS

.picture {}

.content{}

.scroll-content{}

img {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0);
  }
}